# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [1]:
my_list = [[1, 2], [3, 4], [5, 6]]
print(my_list[1][1])

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [2]:
list=[10,20,30,40]
print(list[::-1])

[40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [3]:
list=[1, 2, 3, 4, 5, 6, 7, 8]
print(list[::2])

[1, 3, 5, 7]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [4]:
list=[10, 20, 30, 40, 50]
list[2:4]=[99,100,101]
print(list)

[10, 20, 99, 100, 101, 50]

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [5]:
list=[1, 2, 3, 4, 5]
list[1:3]=[99,100,101]
print(list)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [7]:
l=[1,2,3]
l2=[4,5,6]
l.extend(l2)
print(l)

[1, 2, 3, 4, 5, 6]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [8]:
l=[1,2,3]
l1=["a","b"]
l.extend(l1)
print(l)

[1, 2, 3, 'a', 'b']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [32]:
l=[1,2,3,4,5]
l1=[4,5,6,7]
l.extend(l1)

l3=set(l)
print(list(l3))

[1, 2, 3, 4, 5, 6, 7]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [16]:
l=[0]*100
for i in range(9,100,9):
  l[i]=1
print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [1]:
all(x in [1, 2, 3, 4, 5] for x in [2, 4])

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [2]:
list1 = [1, 2, 3, 4, 5]  # This is the original list
list2 = [2, 4]           # These are the elements we want to remove from list1

filtered = [x for x in list1 if x not in list2]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [3]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [5]:
a=[11,2,3,4]
a.append(55)
print(a)

[11, 2, 3, 4, 55]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [9]:
a = [1, 2, 3, 4, 5]
a = a[:1] + [1099] + a[1:]

print(a)

[1, 1099, 2, 3, 4, 5]

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [10]:
a = [1, 2, 3, 4, 5]
a.remove(4)

print(a)

[1, 2, 3, 5]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [12]:
a = [1, 2, 3, 4, 5]
a.pop()

print(a)

[1, 2, 3, 4]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [17]:
l=[1,2,3,4]
count=0
for x in l:
  count+=1
print(count)

4

### List Q18

**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [18]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[:5])

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [19]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [26]:
numbers = [1, 2, 3, 4, 5]
result = 11 in numbers
print(result)

False

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [27]:
a=[1,2,3]
b=[5,6,7]
print(list(a+b))

[1, 2, 3, 5, 6, 7]

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [29]:
a=[1,2,3,4,5,6]
b=sum(a)
print(b)

21

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [30]:
l=(list(x for x in range(1,10,2)))
print(l)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [31]:
a=[1,2,3,4,5,6,7,8,9,5,8,1]
b=set(a)
print(list(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [33]:
a="hello"
b=list(a)
print(b)

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [36]:
a = [1, 2, 3, 4, 5]
product = 1
for x in a:
    product *= x
print(product)

120

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [41]:
a=[1,6,4,7,2,3]
a.sort()
print(a)

[1, 2, 3, 4, 6, 7]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [42]:
a=[1,2,3]
a.clear()
print(a)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [43]:
a = [10, 20, 30, 40, 50]
i = 0

while i < len(a):
    print(a[i])
    i += 1

10
20
30
40
50

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [46]:
a=[1,2,3,4,5,6,7,8,9]


for i in range(len(a)):
    print(f"Index: {i}, Value: {a[i]}")

Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3
Index: 3, Value: 4
Index: 4, Value: 5
Index: 5, Value: 6
Index: 6, Value: 7
Index: 7, Value: 8
Index: 8, Value: 9

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [47]:
a=[1,2,3,4,5,6,7,8]
print(a.index(4))

3

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [49]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [52]:
t=(1,2,3,4,5)
print(a[3])

4

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [54]:
t=(1,2,3,4,5)
print(t[-3::])

(3, 4, 5)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [2]:
a=(1,2,3,4,5,6)
b=3 in a
b

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [7]:
a=(1,2,3,4,5,6,7)
print(a.index(7))

6

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [9]:
a=(1,2,33,423,12,2,34,33,2)
print(a.count(2))

3

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [12]:
a=((1,2),(4,3),(5,6))
print(a[1][0])

4

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [13]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)


t = (t1 == t2,)

print(t)

(True,)

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [14]:
a=[1,2,3,4,5]
b=tuple(a)
print(type(b))

<class 'tuple'>

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [18]:
a=(1,2,3,4,5)

print(sum(a))

15

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [19]:

a = tuple([1, 2, 3, 4, 5])
print(a)

(1, 2, 3, 4, 5)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [20]:
tuple = (10, 20, 30, 40, 50)

for x in tuple:
    print(x)

10
20
30
40
50

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [28]:
t = (1, 2, 3)

try:
    t[0] = 10
except TypeError:
    print("TypeError handled")

TypeError handled

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [29]:
t = (5, 15, 25)


a, *rest = t

print(a)
print(rest)

5
[15, 25]

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [30]:
tuple={
    (1,2):'v'
}
tuple

{(1, 2): 'v'}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [32]:
t=(1,2,3)
len(t)

3

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [38]:
t1 = (1, 2, 3)
t2 = (1, 3, 2)

print(t1 < t2)

True

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [37]:
t = (10, 20, 5, 40, 15)

max_value = max(t)
min_value = min(t)

print(max_value, min_value)

40 5

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [36]:
a=((1,2),(4,3),(5,6))
print(a[1][0])

4

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [34]:
import sys
t=(1,2,3,4,45,33)
a=sys.getsizeof(t)
a

88

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [39]:
s = {10, 11, 12, 13, 14, 15}
print(s)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [41]:
s = {1, 2, 3}
s.update([4, 5, 6])

print(s)

{1, 2, 3, 4, 5, 6}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [42]:
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}


print(set1.issubset(set2))

True

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [43]:
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}


print(set2.issuperset(set1))

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [45]:
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}


print(set2-set1)

{3, 4, 5}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [46]:
a={x for x in range(1,16) if x%3==0}
a

{3, 6, 9, 12, 15}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [47]:
a = {1, 2, 3, 4, 5}

a.discard(3)

print(a)

{1, 2, 4, 5}

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [48]:
s = {1, 2, 3}
print(s == set())

False

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [49]:
s={1,3,32,34,212}
print(max(s))

212

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [50]:
s={1,3,32,34,212}
print(min(s))

1

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [51]:
s = frozenset({'a', 'b', 'c'})
print(s)

frozenset({'c', 'b', 'a'})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [52]:
s = frozenset({1, 2, 3})

try:
    s.add(4)  # Attempt to add an element
except AttributeError:
    print("AttributeError handled: frozenset is immutable")

AttributeError handled: frozenset is immutable

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [53]:
a = frozenset({1, 2, 3})
s = {3, 4, 5}

print(a | s)

frozenset({1, 2, 3, 4, 5})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [54]:
a=[1,1,1,1,1,1,4,4,4,3,2,3,2,4,5,32]
b=set(a)
b

{1, 2, 3, 4, 5, 32}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [56]:
s={x**2 for x in range(1,6) }
s

{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [57]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
C=A&B
C

{3, 4}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [58]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

diff = A.symmetric_difference(B)
print(diff)

{1, 2, 5, 6}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [59]:
my_set = {10, 20, 30, 40, 50}

for element in my_set:
    print(element)

50
20
40
10
30

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [60]:
a={1,2,3,4}
b=len(a)
b

4

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [62]:
A = {1, 2, 3}
B = A.copy()

print(A is B)

True

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.